In [3]:
import pandas as pd
import yfinance as yf
import os
from datetime import datetime

In [5]:
yf.download("MSFT")

[*********************100%%**********************]  1 of 1 completed

               Open     High      Low   Close  Adj Close  Volume
Date
2000-01-04     7.23     7.90     7.20     7.2        7.2  155600
2000-01-05     7.00     7.70     6.85     7.7        7.7  194100
2000-01-06     7.75     7.80     7.40     7.4        7.4   66500
2000-01-07     7.30     7.41     7.30     7.3        7.3   43900
2000-01-10     7.30     7.65     7.30     7.5        7.5   18700
...             ...      ...      ...     ...        ...     ...
2018-01-23  3800.00  3800.00  3500.00  3600.0     3600.0  238400
2018-01-26  3300.00  3400.00  3200.00  3300.0     3300.0  401500
2018-01-30  2900.00  3100.00  2900.00  3000.0     3000.0  105300
2018-01-31  3000.00  3200.00  3000.00  3100.0     3100.0  240800
2020-01-24   880.00   880.00   880.00   880.0      880.0       0

[4537 rows x 6 columns]