In [2]:
import pandas as pd
import yfinance as yf
import os
from datetime import datetime

In [3]:
yf.download("MSFT")

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400
...,...,...,...,...,...,...
2024-09-16,430.600006,433.529999,428.220001,431.339996,431.339996,13834700
2024-09-17,440.230011,441.850006,432.269989,435.149994,435.149994,18874200
2024-09-18,435.000000,436.029999,430.410004,430.809998,430.809998,18898000
2024-09-19,441.230011,441.500000,436.899994,438.690002,438.690002,21674300
2024-09-20,437.220001,439.209991,434.220001,434.519989,434.519989,9197804